:root {
    --fonts: 'Andale Mono', 'Courier New', 'Courier', 'Menlo', 'Monaco', monospace;
    --background: rgb(14, 11, 220);
    --foreground: white;
}

body {
    line-height: 1.5;
    font-size: 14px;
    font-family: var(--fonts);
    max-width: 40rem;
    background-color: var(--background);
    color: var(--foreground);
    margin: auto;
}

pre {
    font-family: var(--fonts);
}

ul {
    list-style: none;
}

.dim {
    color: rgb(149, 147, 235);;
}

.blink {
    animation: blinker 1.2s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.underline {
    text-decoration: underline;
}

.invert {
    background-color: var(--foreground);
    color: var(--background);
    display: inline;
}

.strikethrough {
    text-decoration: line-through;
}

.red {
    color: rgb(238, 12, 12);
}

.green {
    color: rgb(12, 238, 12);
}

a {
    color: inherit;
    text-decoration: inherit;
}
